body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
path.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}


.bar rect {
fill: steelblue;
}

.bar text {
fill: #fff;
font: 10px sans-serif;
}
line.goal {
  stroke:green;
  stroke-width:1px;
}
line {
  stroke-width:1px;
}
